@tailwind utilities;

@layer utilities {

    .hero-tittle {
        font-size: clamp(1.5rem, 4.9vw, 4.5rem);
        line-height: 1;
    }

    .hero-tittle-mobile {
        font-size: clamp(3rem, 1vw, 8rem);
        line-height: 1;
    }

    .thumbnail {
        flex: 1 1 auto;
        max-width: calc((100% / 4) - 1rem);
        opacity: 0.8;
        transition: border-color 0.3s ease, opacity 0.1s ease;
        @apply border-4 border-transparent shadow-sm;
    }

    .thumbnail-mobile{
        max-width: calc((100% / 2) - 1rem);
    }

    .carousel>input:nth-of-type(1):checked~.slides .slide-thumbnails li:nth-of-type(1),
    .carousel>input:nth-of-type(2):checked~.slides .slide-thumbnails li:nth-of-type(2),
    .carousel>input:nth-of-type(3):checked~.slides .slide-thumbnails li:nth-of-type(3),
    .carousel>input:nth-of-type(4):checked~.slides .slide-thumbnails li:nth-of-type(4){

        img{
            opacity: 1;
            @apply border-4 border-primary shadow-md ;
        }
        p{
            @apply font-bold
        }
    }

    .slide {
        display: none;
        position: absolute;
        flex: 1
    }

    .carousel>input:nth-of-type(1):checked~.slides .carousel-slides .slide:nth-of-type(1),
    .carousel>input:nth-of-type(2):checked~.slides .carousel-slides .slide:nth-of-type(2),
    .carousel>input:nth-of-type(3):checked~.slides .carousel-slides .slide:nth-of-type(3),
    .carousel>input:nth-of-type(4):checked~.slides .carousel-slides .slide:nth-of-type(4) {
        display: block;
        position: relative;
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .caption{
        display: none;
        position: absolute;
    }

    .caption-text{
        font-size: clamp(1rem, 2.5cqi, 2.3rem);
        line-height: 1;
    }

    .caption-info{
        font-size: clamp(1.3rem, 3.9cqi, 4rem);
        line-height: 1;
    }

    .carousel>input:nth-of-type(1):checked~.captions .caption:nth-of-type(1),
    .carousel>input:nth-of-type(2):checked~.captions .caption:nth-of-type(2),
    .carousel>input:nth-of-type(3):checked~.captions .caption:nth-of-type(3),
    .carousel>input:nth-of-type(4):checked~.captions .caption:nth-of-type(4){
        display: flex;
        position: relative;
    }

    .venue-tittle {
        font-size: clamp(1rem, 2.3cqi, 3rem);
    }

    @-webkit-keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-up-center {
        0% {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

}