@tailwind utilities;

@layer utilities{
    .item-content{
        width: calc(50% - 60px);
    }

    .timeline-tittle {
        font-size: clamp(1rem, 10cqi, 2rem);
        line-height: 1;
    }

    .timeline-text {
        font-size: clamp(1rem, 10cqi, 1.3rem);
        line-height: 1;
    }
}